@page "/"
@page "/home"

@using Microsoft.AspNetCore.Components.Authorization

@inject Auth.IAuthService Auth
@inject NavigationManager Nav

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to RetailX.